<div>
  <h2 id="page-heading" data-cy="GitrepHeading">
    <span jhiTranslate="monolithicauthtestApp.gitrep.home.title">Gitreps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="monolithicauthtestApp.gitrep.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gitrep"
        [routerLink]="['/gitrep/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="monolithicauthtestApp.gitrep.home.createLabel">Create a new Gitrep</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gitreps?.length === 0">
    <span jhiTranslate="monolithicauthtestApp.gitrep.home.notFound">No Gitreps found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gitreps && gitreps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col" jhiSortBy="clientid"><span jhiTranslate="monolithicauthtestApp.gitrep.clientid">Clientid</span></th>
          <th scope="col" jhiSortBy="accesstoken"><span jhiTranslate="monolithicauthtestApp.gitrep.accesstoken">Accesstoken</span></th>
          <th scope="col" jhiSortBy="platformType"><span jhiTranslate="monolithicauthtestApp.gitrep.platformType">Platform Type</span></th>
          <th scope="col" jhiSortBy="client.id"><span jhiTranslate="monolithicauthtestApp.gitrep.client">Client</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gitrep of gitreps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gitrep', gitrep.id, 'view']">{{ gitrep.id }}</a>
          </td>
          <td>{{ gitrep.clientid }}</td>
          <td>{{ gitrep.accesstoken }}</td>
          <td>{{ gitrep.platformType }}</td>
          <td *ngIf="gitrep.client">
            <a [routerLink]="['/client', gitrep.client.id, 'view']">{{ gitrep.client?.id }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/gitrep', gitrep.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/gitrep', gitrep.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(gitrep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
